body{
    background-color:darkblue;

    color: white;
}
a{
    color:brown

}
h2{
    color:greenyellow;
}
.header{
    text-align: center;
}
.header img{
    height: 60px;
    width:60px;
}

.footer{
    background-color:burlywood;
    text-align: center;
}
