.box1{
    background-color: pink;
   font-size: 30px;

    /* boxmodel */
    padding: 30px;
    margin:25px;
    width: 90%;
    height: 100px;
    /* padding-top: 20px;
    padding-left:20px; */
    border: 2px dashed purple;

}
h2{
    text-align: center;
    color: rgb(232, 204, 20);
}
