h1{
    color:yellowgreen;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 .container{
    height: 300px;
    background-color:rgb(244, 179, 100);
    border:3px solid black;
    margin: 20px;
    padding: 20px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:start;   
} 
.box{
    border:1px solid palevioletred;
    height:100px;
    width: 50px;
    margin: 2px;
    padding:5px;
} 
#item1{
    background-color: rgb(250, 4, 94);
    /* order:500; */
    /* flex-shrink: 4px; */
    /* flex-grow:5; */
    align-self: start;
}
#item2{
    background-color: brown;

}
#item3{
    background-color: blueviolet;

}
#item4{
    background-color: coral;
    /* order: -1; */
    /* flex-basis: 400px; */

}