.colums{

    width:min(90%, 75rem);
    margin:30px auto;
    /* width:30%; */
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap:2em;


}
body{
    background-color: rgb(108, 142, 142);
   
}
h1{
    text-align: center;
}
@media(min-width: 500px){

    .colums{
        grid-template-columns: repeat(3, 1fr);
    }
}
