body{
    background-color: bisque;
}
 header{
    background-color: aquamarine;
    /* gap:5px; */
 }
/* footer{
    
    background-color: cadetblue;
} */
 .nav{
    text-align: right;
    /* padding-right: 20px; */
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  
    display: flex;
    justify-content: flex-end;
    gap:15px;
 }