h1{ 
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;  

}
.center{
    text-align: center;
     font-size: 40px;
}

p{
    color:brown;
    text-align: center;
}
.f{
    color:rgb(166, 78, 148);
}
.l{
    color:rgb(254, 6, 48);
}
.o{
    color:rgb(104, 25, 224);
}
.w{
    color:rgb(46, 181, 15);
}
.e{
    color:rgb(241, 176, 111);
}
.r{
    color:rgb(167, 82, 108);
}
img{

    height:400px;
    width: 100%;
}


